
<div class="page">
  <div class="nav">
  <button class="logout" (click)="logout()">Logout</button>

</div>
  <div class="user-bar">

  @if (user$ | async; as user) {
    <div class="user-info">
      Logged in as:
      <strong>{{ user.name }}</strong>
      ({{ user.role }})
    </div>
  }

</div>
  <div class="card loans">
    <h3>Your Loan Requests</h3>

    <ul>
      @for (loan of (loans$ | async); track loan.id) {
        <li class="loan-item">

          <div class="loan-info">
            <strong>{{ loan.character }}</strong>
            <span>→ {{ loan.asset }}</span>
          </div>

          <div class="loan-meta">

            <span class="status {{ loan.status }}">
              {{ loan.status }}
            </span>

          </div>

        </li>
      }
    </ul>

  </div>

  <h2>Client Portal</h2>

  <div class="grid">

    <div class="card">
      <h3>Vehicles</h3>
      <ul>
        @for (v of vehicles(); track v.url) {
          <li>
            <span class="name"><strong>Name:</strong> {{ v.name }}</span>
            <span class="model"><strong>Model:</strong> {{ v.model }}</span>

            <button class="approve" (click)="requestLoan(v.name)">
              Request
            </button>
          </li>
        }
      </ul>
    </div>

    <div class="card">
      <h3>Starships</h3>
      <ul>
        @for (s of starships(); track s.url) {
          <li>
            <span class="name"> <strong>Name:</strong>{{ s.name }}</span>
            <span class="model"> <strong>Model:</strong>{{ s.model }}</span>

            <button class="approve" (click)="requestLoan(s.name)">
              Request
            </button>
          </li>
        }
      </ul>
    </div>

  </div>

</div>