<h1>Bank Accounts</h1>

@defer (on timer(5000)) {
<div class="cards" [updateBalance] ="accounts">

  @for (acc of accounts; track acc.id) {

    @if (acc.active) {

      <mat-card class="card" (click)="selectAccount(acc)">

        <mat-card-header>
          <mat-card-title>{{ acc.title }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          @switch (acc.type) {

            @case ('cheque') {
              <p>{{ acc.balance | formatBalance:'R' }}</p>
            }

            @case ('savings') {
              <p>{{ acc.balance | formatBalance:'$' }}</p>
            }

            @case ('business') {
              <p>{{ acc.balance | formatBalance:'€' }}</p>
            }

            @case ('investment') {
              <p>{{ acc.balance | formatBalance:'£' }}</p>
            }

            @default {
              <p>{{ acc.balance | formatBalance:'R' }}</p>
            }

          }

        </mat-card-content>

      </mat-card>

    }

  } @empty {
    <p>No accounts found.</p>
  }

</div>
} @placeholder {
  <h2>Loading all the active the accounts</h2>
}

@let selected = selectedAccount;

@if (selected) {
  <app-account-details
    [balance]="selected.balance"
    [accountNumber]="selected.accountNumber"
    [title]="selected.title"
    (closed)="closeDetails()"
  >
  </app-account-details>
}