.logout {
  margin-right: auto;
  background: #862e77;
  color: white;
}

.nav {
  display: flex;
  gap: 30px;
  margin-bottom: 16px;
}

.page {
  padding: 24px;
}

.user-bar {
  margin-bottom: 16px;
}

.user-info {
  background: #6e82ab;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 0.9rem;
}

.card {
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loan-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.loan-info {
  display: flex;
  flex-direction: column;
}


.status {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.75rem;
  text-transform: capitalize;
}

.status.pending {
  background: #efdf9f;
  color: #000;
}

.status.approved {
  background: #45845c;
  color: #fff;
}

.status.rejected {
  background: #834646;
  color: #fff;
}


button {
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.75rem;
  margin-left: 6px;
}

button.approve {
  background: #96efb7;
  color: rgb(5, 4, 4);
}

button.reject {
  background: #78b7eb;
  color: rgb(16, 15, 15);
}

button:hover {
  opacity: 0.85;
}